@media (max-width: 1199px)
  .container
    max-width: 960px

@media (max-width: 991px)
  .container
    max-width: 700px
  .logo
    width: 132.75px
  .navbar

    &-top
      padding-top: 40px
      padding-bottom: 31px

    &__search
      margin-right: 26px

    &-menu
      display: flex
      justify-content: space-between
      padding-top: 20px
      padding-bottom: 22px

      &__link
        font-size: 12px
        line-height: 15px

  .logo
    margin-bottom: 6px

  .search
    &__input
      width: 340px
  .user
    &__name
      margin: 5px 1px 0 20px

  .hotel
    padding-top: 26px

    &-description
      line-height: 16px
  .offer
    line-height: 13px
    padding: 4px 9px

  .rating
    padding-top: 0
    margin-right: 8px


@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%


  .navbar
    &__search, &-menu, &__user
      display: none

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer

      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%

    &-wrapper
      justify-content: space-between

    &-info
      &__text
        width: 100%

      &__name
        margin-top: 10px
        margin-bottom: 0

      &__rating
        display: none

      &__offer
        order: -1
        margin-left: 0

@media (max-width: 576px)
  .container
    max-width: 320px
    width: 92%

@media (max-width: 320px)
  .container
    max-width: 282px
    width: 92%

  .navbar
    &-top
      padding-top: 41px
      padding-bottom: 41px
  .logo
    margin-bottom: 0

  .hotel
    padding-top: 0


  .stars
    padding-right: 12px
  .hotel-info
    &__name
      line-height: 25px
      margin-top: 0

    &__break
      display: flex
      flex-basis: 10%


