@media (max-width: 1199px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 600px

      &__img
        width: 100%
        height: 100%
        object-fit: cover

@media (max-width: 991px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132.75px
  .navbar

    &-top
      padding-top: 30px
      padding-bottom: 30px

    &__search
      margin-right: 26px

    &-menu
      display: flex
      justify-content: space-around
      padding-top: 20px
      padding-bottom: 22px

      &__link
        font-size: 12px
        line-height: 15px

  .logo
    margin-bottom: 6px

  .search
    &__input
      width: 340px
  .user
    &__name
      margin: 5px 1px 0 20px

    &__avatar
      margin-right: -1px

  .breadcrumb
    &-list
      &__item
        line-height: 15px

  .hotel
    padding-top: 15px
    padding-bottom: 56px

    &__grid
      flex-direction: column

    &__slider
      margin-bottom: 25px

    &-right
      flex-direction: row
  .booking
    width: 340px
  .hotel-slider
    width: 100%
  .map
    width: 340px
  .reviews
    padding: 16px 0 70px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 46px

    &-slider
      &__item
        max-width: 580px
        margin: 50px auto 0

      &__avatar
        margin-left: 2px
        margin-bottom: 11px
        margin-top: 22px

      &__username
        margin-top: 0

      &__profile
        margin-bottom: 27px
        margin-top: -70px

      &__date
        margin-left: 3px

      &__text
        margin: auto 0 0 3px

      &__button
        top: 51%

        &--next
          right: 1px

        &--prev
          left: 1px

    &-description
      line-height: 16px

    &-info
      &__space
        margin-right: 6px

  .offer
    line-height: 13px
    padding: 4px 8px

  .rating
    padding-top: 4px
  .booking
    padding: 28px 21px 26px 22px

  .newsletter
    padding: 81px 0 67px 0

    &__title
      margin: 13px 0 26px 2px

  .subscribe
    width: 415px
    height: 55px
    margin-bottom: 10px


@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%

  .navbar
    &__search, &-menu, &__user
      display: none

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer

      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%

    &-wrapper
      justify-content: space-between

    &-info
      &__text
        width: 100%

      &__name
        margin-top: 10px
        margin-bottom: 0

      &__rating
        display: none

      &__offer
        order: -1
        margin-left: 0

  .hotel-slider
    height: 350px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none

      &__profile
        margin-top: -68px


      &__button
        top: 45px
      &--prev
        left: 50%
        margin-left: -65px
        transform: translate(-50%, 0)
      &--next
        left: 50%
        margin-left: -65px
        transform: translate(50%, 0)



@media (max-width: 576px)
  .container
    max-width: 420px
    width: 92%

  .hotel-slider
    height: 220px

  .newsletter
    padding: 76px 0 83px 0

    &__title
      margin-bottom: 37px

  .subscribe
    width: 100%

@media (max-width: 320px)
  .container
    max-width: 282px
    width: 92%

  .navbar
    &-top
      padding-top: 22px
      padding-bottom: 23px
  .logo
    width: 99px

  .breadcrumb-list
    padding: 20px 0

  .hotel
    padding-top: 0

  .offer
    line-height: 13px
    padding: 4px 10px
    margin-bottom: 13px


  .stars
    padding-right: 20px
    margin-bottom: 13px

  .hotel-info
    &__name
      line-height: 25px
      margin-top: 1px

    &__transfer
      flex-basis: 100%

    &__space
      margin-right: 0

  .hotel
    padding-bottom: 0

  .hotel-slider
    height: 179px
    margin-bottom: 15px

    &__button
      &--next
        width: 5px
        height: 10px
        right: 12px
        background-image: url("../img/arrow_smal-next.svg")
        background-size: 5px

      &--prev
        width: 5px
        height: 10px
        left: 12px
        background-image: url("../img/arrow_smal-prev.svg")
        background-size: 5px

  .hotel-description
    line-height: 16px

  .hotel-info
    padding-bottom: 37px

  .hotel-right
    display: flex
    justify-content: flex-start
    min-height: 443px

  .booking
    margin-bottom: 20px

  .booking__num
    margin-left: 8px
    margin-right: 5px

  .map
    max-width: 280px
    height: 172.94px

  .newsletter
    padding: 75px 0

    &__title
      font-size: 20px
      line-height: 30px
      margin: 2px 0 36px 8px

    &-title

      &__strong
        font-size: 30px
        line-height: 42px

  .subscribe
    margin-bottom: 9px
    width: 280px
    height: 52px
    &__input
      padding-left: 21px

  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin-top: 25px
      margin-bottom: 42px
      padding: 0 15px 0

    &-slider
      &__avatar
        margin-right: 8px
        margin-bottom: 10px
        margin-top: 19px

      &__username
        margin-right: 4px

      &__text
        text-align: left

      &__button
        &--prev
          left: 34px

        &--next
          right: 38px





